.cont{
    width: 100%;
   
   background-image: url("/assets/ground.jpg");
    font-size: large;
    background-size: 100% 100%;
   
    
    color: rgb(247, 242, 242);
   
}
h1{
    text-align: center;
}
.shellfm{
    margin-top: 22px;
    border-radius: 22px;
    position: relative;
    background-color: rgb(45, 45, 45); 
    width: 50%;
    margin-left: 25%;
    opacity: 0.9;
    box-shadow: 10px 1px 10px 10px black;
}
#btn{
    text-align: center;
    align-items: center;
}
.btn{
    border-radius: 42%;
	text-align: center;
	background-color: rgb(98, 39, 39);
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 10px;
	width: 200px;
    box-shadow: 10px 10px black;
	cursor: pointer;
   margin-bottom: 22px;
}
.btn:hover{
    background-color: rgb(79, 78, 78);
    transform: scale(0.9);
    box-shadow: 5px 5px black;
}
.war{
    font-size: larger;
    font-style: inherit;
    
    color: red;
}
label {

width: 40%;
font-size: 20px;
margin-bottom: 30px;

}
input{
  
    border: 3px solid black;
}
input[type=text] {
    height: 50px;
    font-size: larger;
}
input[type=email] {
    height: 50px;
    font-size: larger;
}
input[type=password]{
    height: 50px;
    font-size: larger;
}

select{
    border: 3px solid black;
}
option{
    color: black;
    font-size: larger;
    font-style: oblique;
}