<div class="conNav">

  <nav class="navbar navbar-expand-lg navbar-light bg-light cssNav">
    <a class="navbar-brand" href="#home">Cricket</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/#home">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#star">STAR</a>
        </li>
       
         <li class="nav-item">
          <a class="nav-link" href="/#about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MORE
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/login">Login</a>
            <a class="dropdown-item" href="/action">Action <span class="sr-only">(current)</span></a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/insert">Form</a>
          <a class="dropdown-item" href="/dashboard">Dashboard</a>
         
          <a class="dropdown-item" href="Action">Log Out</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Shubham</a>
        </li>
      </ul>
      
      
    </div>
  </nav>
</div>
  
  
  <router-outlet></router-outlet>
  
  <!-- <div>
    <app-turnament></app-turnament>
  </div> -->
<div>
  <app-footer></app-footer>
</div>


  