<section id="home">
	<div class="image">
	<img alt="" src="assets/crickethome.png" class="img-fluid">
	<h1 align="center" >Welcome To Star Club</h1>
 
        <marquee>Hello Welcome To My cricket Club</marquee>
    
	</div>
   
</section>


<section id="star">
    <div class=" turnament">
        <div class="row rwo">
            <div class="col-4 tur1" >

                 
            </div>
            <div class="col-4 tur2">
            
                 
            </div>
            <div class="col-4 tur3">
            
        
            </div>
        
        </div>
        <div class="row rwo">
            <div class="col-4 " >

                
<button class="button"><span>Batsman </span></button> 
            </div>
            <div class="col-4 " >

                <button class="button"><span>Bowling </span></button>
                 
            </div>
            <div class="col-4 " >

                
<button class="button"><span>W/C&Fielding </span></button> 
            </div>
        </div>
    </div>
</section>

	
